@import "common.css";

pre {
    /* Override prismjs css */
    font-family: monospace !important;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article {
    width: 50%;
}

@media (max-width: 768px) {
    article {
        width: 90%;
    }
}

.license-footer {
    position: relative;
    margin-top: 20px;
}