html, body {
    font-family: monospace;
    font-size: 1.1em;
    line-height: 1.5;
}

.license-footer {
    position: fixed;
    top: calc(100dvh - 50px);
    height: 50px;
    width: 100%;

    text-align: center;
    font-family: monospace;
    color: #4C4D4C;
}

.license-footer a {
    color: #4C4D4C;
}

.license-footer a:hover {
    color: #222323;
}

@media (max-width: 768px) {
    .license-footer {
        margin: 0px 3px;
        font-size: smaller;
        line-height: 1;
    }
}

.home-button {
    width: 25px;
    border-radius: 20%;
    border: 2px solid #222323;
    padding: 10px 10px 5px 10px;
    margin: 5px;
    display: inline-block;
    line-height: normal;
    font-size: 1em;
}