@import "common.css";

#shadow {
    background-color: black;
    
    border: 2px solid black;
    border-radius: 20%;

    width: 100%;
    height: 100%;
    position: absolute;
    

    animation: lower 1s ease-out;
    animation-fill-mode: forwards;
}

main {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;

    padding: 20px;
    border-radius: 20%;

    border: 2px solid #222323;
    background-color: white;

    animation: rise 1s ease-out;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
}

main figure {
    text-align: center;
}

main figure img {
    border-radius: 20%;
    border: 2px solid #222323;
}

nav {
    display: flex;
}

nav a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

@keyframes rise {
    0% {
        transform: translate(-50%, -50%) translate(10px, 10px);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes lower {
    0% {
        transform: translate(-7%, -93%) translateZ(-10px);
    }
    100% {
        transform: translate(-7%, -93%) translate(10px, 10px) translateZ(-10px);
    }
}