@import "common.css";

main {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;

    border: 2px solid #222323;
    padding: 20px;
    border-radius: 20%;

    background-color: white;

    animation: rise 1s ease-out;
    animation-fill-mode: forwards;
}

main figure {
    text-align: center;
}

main figure img {
    border-radius: 20%;
    border: 2px solid #222323;
}

nav {
    display: flex;
}

nav a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

@keyframes rise {
    0% {
        transform: translate(-50%, -50%) translate(10px, 10px);
        filter: drop-shadow(0px 0px 0px #000000);
    }
    100% {
        transform: translate(-50%, -50%);
        filter: drop-shadow(6px 6px 0px #000000);
    }
}