{{ define "meta" }}
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="author" content="Nick Fischer"/>
{{ end }}

{{ define "footer" }}
<footer class="license-footer">
    Source available on <a href="https://github.com/a-nick-fischer/nifi.blog/" target="_blank">GitHub</a> under MIT license.
</footer>
{{ end }}

{{ define "home-button" }}
<nav>
    <a class="home-button" href="/"> 
        <img alt="Home" src="/assets/nifi.png" width="25px"/>
    </a>
</nav>
{{ end }}