<!DOCTYPE html>
<html lang="en">
    <head>
        <title>nifi - photos</title>

        {{ template "meta" }}

        <meta name="description" content="Images taken by Nick Fischer. All images are available under CC-BY."/>
        <meta name="keywords" content="photography,photo,images,fujifilm,street photography"/>

        <link rel="canonical" href="https://nifi.blog/photos"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.5/css/nanogallery2.min.css" integrity="sha512-6sOT9zKSKq1CYgNMqtcY84tFPDnG1yX5mxwdGQiAVpAomVr2kUKJ//pFeU/KfaZDVCOru5iFOVswpT4RWWF2dQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/assets/styles/photos_styles.css"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.5/jquery.nanogallery2.min.js" integrity="sha512-tvpLVnZrWnnNzV2921XEMx4xkFTUF8xg3s+Mi6cvC/R7A6X1FkpBUXPJFa3Xh5uD9BvOZ2tHeYq/5ZqrweW86Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js" integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        {{ template "home-button" }}
        
        <main>
            <img id="hide-button" alt="Switch between Gallery and Map" src="" width="50"/>

            <div id="gallery" data-nanogallery2></div>

            <div id="map" class="hidden"></div>
        </main>

        <footer class="license-footer">
            <p>
                Images taken by Nick Fischer. All images are available on <a href="https://github.com/a-nick-fischer/nifi.blog/tree/main/photos" target="_blank">GitHub</a> under 
                <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY</a>.
            </p>
        </footer>

        <script>
            $("#gallery").nanogallery2({
                thumbnailHeight:  "auto",
                thumbnailWidth:   200,
                thumbnailLabel: { display: false },

                items: [
                    {{ range . }}
                        {
                            src: '/photos/{{ .Name }}',
                            srct: '/thumbnails/{{ .Name }}',
                            title: '{{ .Title }}',
                            ID: '{{ .Title }}'
                        },
                    {{ end }}
                ]
            });

            const map = L.map('map',{
                center: [48.1987, 16.3484],
                zoom: 11
            });

            L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_toner/{z}/{x}/{y}{r}.png', {
                maxZoom: 20,
                attribution: '&copy; <a href="https://stadiamaps.com/" target="_blank">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>',
            }).addTo(map);

            {{ range . }}
                {{ if ne .Latitude -1.0 }}

                    L.marker([{{ .Latitude }}, {{ .Longitude }}])
                        .addTo(map)
                        .bindPopup(`
                            <figure onclick='$("#gallery").nanogallery2("displayItem", "default/{{ .Title }}");'>
                                <img 
                                    src="/thumbnails/{{ .Name }}"
                                    alt="{{ .Title }}"
                                    width="200"/>
                            </figure>
                        `);
                {{ end }}
            {{ end }}

            const mapIcon = "https://icongr.am/fontawesome/map.svg?size=40&color=222323";
            const galleryIcon = "https://icongr.am/fontawesome/image.svg?size=40&color=222323";

            $("#hide-button").click(() => {
                $("#gallery").toggleClass("hidden");
                $("#map").toggleClass("hidden");
                $("#hide-button").attr("src", ($("#hide-button").attr("src") === galleryIcon ? mapIcon : galleryIcon));
                map.invalidateSize(true);
            });

            $("#hide-button").attr("src", mapIcon);
        </script>
    </body>
</html>